@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }   
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// Media Query Manager

/*

0 - 600px:         Phone
600 - 900px:       Tablet Potrait
900 - 1200px:      Tablet Landscape
[1200 - 1800px]:   where normal styles apply
1800px + :         Big desktop       

- phone
- tab-port
- tab-land
- tab-desktop

Order: Base + typography > general layout + grid > page layout > components

*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screeen and (max-width: 37.5em) { @content }; //600px
    }

    @if $breakpoint == tab-port {
        @media only screeen and (max-width: 62.5rem) { @content }; //900px
    }

    @if $breakpoint == tab-land {
        @media only screeen and (max-width: 75em) { @content }; //1200px
    }

    @if $breakpoint == big-desktop {
        @media only screeen and (min-width: 112.5em) { @content }; //1800px
    }
}